<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       href="#"
       role="button"
       id="navbarDropdownLk"
       data-bs-toggle="dropdown"
       aria-expanded="false"
       style="color: white;">
        <i class="bi bi-person-circle me-1"></i>Прочее
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownLk" style="background-color: black;">
        <li><a class="dropdown-item" href="http://10.1.90.190:9001" style="color: white;">Minio</a></li>
        <li><a class="dropdown-item" href="http://10.1.90.190:8080" style="color: white;">Airflow</a></li>
        <li><a class="dropdown-item" href="http://10.1.90.190:8081" style="color: white;">Kafka</a></li>
        <li><a class="dropdown-item" href="http://10.1.90.190:3000" style="color: white;">Grafana</a></li>
        <li><a class="dropdown-item" href="http://10.1.90.190:9090" style="color: white;">Prometheus</a></li>
        <li><hr class="dropdown-divider" style="background-color: white;"></li>
        <li><a class="dropdown-item" href="#" style="color: white;">О разделе</a></li>
    </ul>
</li>