<!-- src/front/templates/web_ecomru/_nav.html -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       href="#"
       role="button"
       id="navbarDropdownLk"
       data-bs-toggle="dropdown"
       aria-expanded="false"
       style="color: white;">
        <i class="bi bi-person-circle me-1"></i>Источники данных
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownLk" style="background-color: black;">
         <li><a class="dropdown-item" href="/api/v1/web_ecomru/entities" style="color: white;">ECOMRU</a></li>
        <li><hr class="dropdown-divider" style="background-color: white;"></li>
        <li><a class="dropdown-item" href="#" style="color: white;">О разделе</a></li>
    </ul>
</li>