<ul class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       href="#"
       role="button"
       id="navbarDropdown"
       data-bs-toggle="dropdown"
       aria-expanded="false"
       style="color: white;">
        Регистрация приложений
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: black;">
        <!-- Заменена ссылка и текст -->
        <li><a class="dropdown-item" href="/api/v1/web_lk/login"    style="color: white;">login</a></li>
        <li><a class="dropdown-item" href="/api/v1/web_lk/register" style="color: white;">register</a></li>
        <li><a class="dropdown-item" href="/api/v1/web_lk/profile"  style="color: white;">profile</a></li>
        <li><a class="dropdown-item" href="/api/v1/web_lk/test" style="color: white;">Тест</a></li>
        <li><hr class="dropdown-divider" style="background-color: white;"></li>
        <li><a class="dropdown-item" href="#" style="color: white;">О разделе</a></li>
    </ul>
</ul>