<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       href="#"
       role="button"
       id="navbarDropdownFiles"
       data-bs-toggle="dropdown"
       aria-expanded="false"
       style="color: white;">
        <i class="bi bi-folder me-1"></i>Файлы
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownFiles" style="background-color: black;">
        <li><a class="dropdown-item" href="/api/v1/web_file_manager/test" style="color: white;">Обзор файлов</a></li>
        <li><a class="dropdown-item" href="/api/v1/web_file_manager/test?folder_path=raw" style="color: white;">Raw данные</a></li>
        <li><hr class="dropdown-divider" style="background-color: white;"></li>
        <li><a class="dropdown-item" href="#" style="color: white;">О разделе</a></li>
    </ul>
</li>